<configuration>
    <!-- Логгирование в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логгирование в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ContactsServiceApplication.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

 <!-- Логгер для ваших классов (например, для пакета com.example) -->
    <logger name="by.micro.contacts_service" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
        <!-- Рутовый логгер для всех остальных классов -->
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>